/* general styles form */
.containerForm{
  display: flex;
  flex-direction: column;
  background-color: #E5E5E5;
  height: 100%;
  align-items: center;
  gap: 3rem;
}

.containerForm form{
  width: 46rem;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 0.5rem;
  margin-top: -3.5rem;
}

.containerForm h2{
  color: #32264D;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

.containerForm form label{
  color: #9C98A6;
  font-size:0.8rem;
  font-weight: 400;
  margin-bottom: 3px;
  margin-top: 1.5rem;
}

.containerForm form input{
  border: 1px;
  background:#E6E6F0;
  border-radius: 0.5rem;
  height: 3.5rem;
  padding-left: 1rem;
}

.containerForm form textarea{
  border: 1px;
  background:#E6E6F0;
  height: 10.5rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.containerForm form select{
  border: 1px;
  background:#E6E6F0;
  height: 3.5rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
}

.data{
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.class{
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}


/* dropdown itens */


.dropdownItem{
  width: 50rem;

}

/* style schedules */
.schedules{
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.schedulesText{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.schedulesText button{
  color: #8257E5;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  border: none;
  font-weight: 600;
}

.week{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.label{
  display: flex;
  flex-direction: column;
}

/* style Warning */
.submit{
  background: #FAFAFC;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #A8A8B3;
  font-size: 0.8rem;
  justify-content: space-between;
}

.submit button{
  background: #04D361;
  color: #FFFFFF;
  border: none;
  text-align: center;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: 10rem;
  font-weight: 600;
  font-size: 1rem;
}

.warning{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}